.page-container.customer-quotes
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row
          - data.organizations.each do |org|
            - if org.featured_quote
              .col-xs-4{ data: { quote: org.quote, "author": org.author, "author-charge": org.author_charge, "org-name": org.name }, class:'quoted-logo'}
                = partial org.logo
        .row
          .col-sm-12
            %h3.text-center.quote-container
        .row
          .col-sm-12
            %h4.text-center.quote-author-container
            %h5.text-center.quote-author-charge-container
