.row
  .col-md-12.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-san-francisco-logo-date-image2-2x.png') center center no-repeat; background-size: cover" }
    %a#eventbrite-widget-modal-trigger-73836706577.btn.cta-btn.orange{ href: "#" }Register
